.rounded-border {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-color: lightgray;
    -fx-border-color: gray;
}
.rounded-window {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: gray;
}
.my-rounded {
    -fx-background-radius: 8;
    -fx-background-color: rgb(24, 21, 35), rgb(24, 21, 35);
    -fx-background-insets: 0, 0 1 1 0;
    -fx-text-fill: white;
}
.login-background {
    -fx-background-image: url("../interface/login.png");
    -fx-background-size: cover;
}
.update-button {
    -fx-background-image: url("../interface/updateButton.png");
    -fx-background-color:  #221f2f;
}
.apply-button {
    -fx-background-image: url("../interface/applyButton1.png");
    -fx-background-color:  #221f2f;
}
.left-menu {
    -fx-background-image: url("../interface/leftside_panel.png");
}
.list-cell {
    -fx-control-inner-background:  #161623;
}
.about-description {
    word-wrap: break-word;
    text-align: justify;
}
